@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rebel-red: #ef4035;
  --rebel-nav-bg: #fff1f1;
  --rebel-text: #0c1433;
  --rebel-hover: #ffdadb;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
  color: var(--rebel-text);
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "freight-sans-pro", sans-serif;
}
